<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>OTP Verification</title>
<meta charset="UTF-8">
</head>
<body>
	<h2>Verifikasi OTP</h2>

	<form id="otpForm">
		<input type="hidden" id="otpEmail" name="email" />
		<label>Kode Otp:</label>
		<input type="text" id="otp" name="otp" required /><br><br>
		<button type="submit">Verifikasi</button>
	</form>

	<p id="result" style="color: red;"></p>

	<script>
		const email = new URLSearchParams(window.location.search).get("email");
		if (!email){
			document.getElementById("result").innerText = "Email Tidak ditemukan di URL.";
		} else {
			document.getElementById("otpEmail").value = email;
		}
		
		document.getElementById("otpForm").addEventListener("submit", function(event){
			event.preventDefault();
			
			const otp = document.getElementById("otp").value;
			
			fetch('/api/otp/verify', {
				method: 'POST',
				headers: { 'Content-Type': 'application/json' },
				body: JSON.stringify({ email: email, otp: otp })
			})
			.then(response => {
				if (!response.ok){
					return response.text().then(text => { throw new Error (text); });
				}
				return response.text();
			})
			.then(data => {
				document.getElementById("result").style.color = "blue";
				document.getElementById("result").innerText = "Verifikasi Berhasil";
				
				//redirect kalau perlu
				//window.Location.href = "/Login";
			})
			.catch(error => {
				document.getElementById("result").innerText = "Gagal Verifikasi: " + error.message;
			});
		});
	</script>
</body>
</html>